<p>student-detail works!</p>

<div class="main">
<div class="box1">

<form [formGroup]="this.studentService.form">
  <input type="hidden" formControlName="$key">
<table border="2">
<tr>
<td>Student Name  </td>
<td>
 <input
    placeholder="Student Name"
    type="text"
    class="input-field col s12"
    formControlName="name"
  />
</td>
  </tr>


<tr>
<td>Student age  </td>
<td>
  <input
    placeholder="Student age"
    type="text"
    class="input-field col s12"
    formControlName="age"
  />
  </td>
  </tr>

<tr>
<td>Student Address  </td>
<td>
  <input
    placeholder="Student address"
    type="text"
    class="input-field col s12"
    formControlName="address"
  />

  </td>
  </tr>

<tr>
<td> 
  <button  style="margin:auto;display:block" value="Submit" (click)="onSubmit()"> Submit</button>
  </td>

  <td> 
  <button style="margin:auto;display:block" value="Update" (click)="updaterecorde()" >Update</button> 
  </td>
  </tr>
  </table>
  </form>
  </div>

  <div class="box2">
  <table border="2">
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>update</th>
      <th>delete</th>
    </tr>
  </thead>

  <tbody>
  <ng-container *ngFor="let list of students">
    <tr>
      <td>
        {{ list.name }}
      </td>
      <td>{{ list.age }}</td>
      <td>
        {{ list.address }}
      </td>
      <td >
      <button (click)="studentService.populateForm(list)">
       update  
       </button>
      </td>
      <td>
      <button (click)="deletestudent(list.$key)">
        delete</button>
      </td>
      
    </tr>
</ng-container>
 </tbody>
  </table>
  </div>
  </div>

